<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <%- include('./ReusableComponents/BootstrapCDN.ejs') %>
    <style>
        /* Custom CSS for centering the canvas */
        #dashboard-container {
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-success py-4">
        <div class="container-fluid">
            <ul class="navbar-nav mx-auto">
                <% for (let i = 1; i <= 4; i++) { %>
                    <li class="nav-item">
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="Truck_<%= i %>_info">
                        <label class="custom-control-label" for="Truck_<%= i %>_info">&nbsp; Truck <%= i %> &nbsp;</label>
                      </div>
                    </li>
                  <% } %>
                <li class="nav-item">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="tracks">
                        <label class="custom-control-label" for="tracks">Show Tracks</label>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div id="dashboard-container" class="col-9 my-3 d-flex align-items-center justify-content-center">
                <canvas id="canvas" width="1040px"  height="737px" style="width: 1040px; height: 737px;"></canvas>
            </div>
            <div class="col-3">
                <!-- Bootstrap card for the vertical list -->
                <div class="card">
                    <div class="card-header">Truck Details</div>
                    <div class="card-body">
                        <!-- Vertical list for truck details -->
                        <div class="list-group">

                            <% for (let i = 1; i <= 4; i++) { %>
                                <a href="#" class="list-group-item list-group-item-action">
                                  <div class="card">
                                    <div class="card-header text-center">
                                      <h5>Truck <%= i %></h5>
                                    </div>
                                    <div class="card-body">
                                      <p>Current Position:</p>
                                      <span>x:</span><span id="truck<%= i %>x"></span><br>
                                      <span>y:</span><span id="truck<%= i %>y"></span><br>
                                      <span>Color :</span>
                                      <div style="display: inline-block; width: 20px; height: 20px; background-color: <%= getColor(i) %>;"></div>
                                    </div>
                                  </div>
                                </a>
                              <% } %>
                              <!-- function that returns truck display color to show on pannel -->
                              <% function getColor(truckNumber) {
                                // Define colors based on truckNumber or use any logic to determine colors dynamically
                                const colors = ['red', 'blue', 'green', 'yellow'];
                                return colors[truckNumber - 1];
                              } %>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="/Scripts/AdminDashboard.js"></script>
<script src="/Scripts/track.js"></script>