<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <%- include('./ReusableComponents/BootstrapCDN.ejs') %>
    <style>
        /* Custom CSS for centering the canvas */
        #dashboard-container {
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-success py-4">
        <div class="container-fluid">
            <ul class="navbar-nav mx-auto">
                <% for (let i = 1; i <= 4; i++) { %>
                    <li class="nav-item">
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="Truck_<%= i %>_info">
                        <label class="custom-control-label" for="Truck_<%= i %>_info">&nbsp; Truck <%= i %> &nbsp;</label>
                      </div>
                    </li>
                  <% } %>
                <li class="nav-item">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="AllTracks">
                        <label class="custom-control-label" for="AllTracks">Show All Tracks</label>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div id="dashboard-container" class="col-9 my-3 d-flex align-items-center justify-content-center">
                <!-- <canvas id="canvas" width="1040px"  height="737px" style="width: 1040px; height: 737px;"></canvas> -->
                <svg class="my-3" width="1040" height="737">
                  <!-- Image Layer -->
                  <g id="imageLayer">
                    <title>Background Image</title>
                    <image xlink:href="/map.png" height="737" width="1040"/>
                  </g>
                  
                  <g id="RedTrack" visibility="hidden">
                    <title>RedTrack Layer</title>
                    <image cy="568.5" cx="173.66667" ry="213.66667" rx="45" xlink:href="/Tracks/RedTrack.png" id="redTrack" height="737" width="1040"/>
                  </g>
                
                  <g id="BlueTrack" visibility="hidden">
                      <title>BlueTrack Layer</title>
                      <image cy="568.5" cx="173.66667" ry="213.66667" rx="45" xlink:href="/Tracks/BlueTrack.png" id="blueTrack" height="737" width="1040"/>
                  </g>

                  <g id="GreenTrack" visibility="hidden">
                      <title>GreenTrack Layer</title>
                      <image cy="568.5" cx="173.66667" ry="213.66667" rx="45" xlink:href="/Tracks/GreenTrack.png" id="greenTrack" height="737" width="1040"/>
                  </g>

                  <g id="YellowTrack" visibility="hidden">
                      <title>YellowTrack Layer</title>
                      <image cy="568.5" cx="173.66667" ry="213.66667" rx="45" xlink:href="/Tracks/YellowTrack.png" id="yellowTrack" height="737" width="1040"/>
                  </g>

                  <g id="Truck1">
                      <title>Truck 1 Point</title>
                      <circle cx="0" cy="0" r="4" fill="red" id="Truck1Pointer" visibility="hidden" />
                  </g>

                  <g id="Truck2">
                      <title>Truck 2 Point</title>
                      <circle cx="0" cy="0" r="4" fill="blue" id="Truck2Pointer" visibility="hidden" />
                  </g>

                  <g id="Truck3">
                      <title>Truck 3 Point</title>
                      <circle cx="0" cy="0" r="4" fill="green" id="Truck3Pointer" visibility="hidden" />
                  </g>

                  <g id="Truck4">
                      <title>Truck 4 Point</title>
                      <circle cx="0" cy="0" r="4" fill="yellow" id="Truck4Pointer" visibility="hidden" />
                  </g>

                </svg>

            </div>
            <div class="col-3">
                <!-- Bootstrap card for the vertical list -->
                <div class="card">
                    <div class="card-header">Truck Details</div>
                    <div class="card-body">
                        <!-- Vertical list for truck details -->
                        <div class="list-group">

                            <% for (let i = 1; i <= 4; i++) { %>
                                <a href="#" class="list-group-item list-group-item-action">
                                  <div class="card">
                                    <div class="card-header text-center">
                                      <h5>Truck <%= i %></h5>
                                        <div class="custom-control custom-switch">
                                          <input type="checkbox" class="custom-control-input" id="ShowTrack<%= i %>"  onchange="showThisTrack('<%= i %>')">
                                          <label class="custom-control-label" for="ShowTrack<%= i %>" >Show Track <%= i %></label>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                      <p>Current Position:</p>
                                      <span>x:</span><span id="truck<%= i %>x">No Data</span><br>
                                      <span>y:</span><span id="truck<%= i %>y">No Data</span><br>
                                      <span>Color :</span>
                                      <div style="display: inline-block; width: 20px; height: 20px; background-color: <%= getColor(i) %>;"></div>
                                    </div>
                                  </div>
                                </a>
                              <% } %>
                              <!-- function that returns truck display color to show on pannel -->
                              <% function getColor(truckNumber) {
                                // Define colors based on truckNumber or use any logic to determine colors dynamically
                                const colors = ['red', 'blue', 'green', 'yellow'];
                                return colors[truckNumber - 1];
                              } %>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="/Scripts/AdminDashboard.js"></script>
<script src="/Scripts/track.js"></script>
